<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MgrDao">
    <resultMap type="pojo.Mgr" id="mgrResultMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getMGRNameList" resultType="pojo.Mgr">
        select id, name
        from manager
    </select>

    <select id="countMgrs" resultType="java.lang.Integer">
        select count(*)
        from manager
    </select>
</mapper>